<!DOCTYPE html>
<html>
<head>
  <title>Mood</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'board', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'board' %>
  <%= csrf_meta_tags %>
  <meta http-equiv='refresh' content='300'>
</head>
<body>
<div id="user" style="display: none;"><%= current_user.slug %></div>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, content_tag(:strong, msg), class: 'alert alert-danger' %>
<% end -%>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to('Board', moods_path) %></li>
  <li role="presentation"><%= link_to('Users', users_path) %></li>
  <% if user_signed_in? %>
    <li><%= link_to("Log Out", destroy_user_session_path, :method => :delete) %></li>
  <% else %>
    <li><%= link_to('Log In', new_user_session_path)  %></li>
  <% end %>
</ul>

<div class="container-fluid">
  <div class="row">
    <div id="board" class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Color Key</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4><span class="label green">Updated in the last <%= ENV['fresh'] %> hours</span></h4>
          </li>
          <li class="list-group-item">
            <h4><span class="label orange">Updated in the last <%= ENV['old'] %> hours</span></h4>
          </li>
          <li class="list-group-item">
            <h4><span class="label red">Updated over <%= ENV['old'] %> hours ago</span></h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
